In [17]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as numpy

In [18]:
mortality_csv = "detailed_mortality.csv"
df = pd.read_csv(mortality_csv)
mortality_summary=df[["Year","State", "Ten-Year Age Groups", "Race", "Population", "Deaths", "Gender"]]
mortality_summary["Year"]= mortality_summary["Year"].astype(int)
reduced_mortality = mortality_summary.dropna(how="any")
reduced_mortality.head()

C:\Users\vmchu\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Year    State Ten-Year Age Groups   Race  Population  Deaths  Gender
0  2009  Alabama         15-24 years  White    227585.0    14.0    Male
1  2009  Alabama         25-34 years  White    209864.0    38.0    Male
2  2009  Alabama         35-44 years  White    221942.0    25.0  Female
3  2009  Alabama         35-44 years  White    226271.0    27.0    Male
4  2009  Alabama         45-54 years  White    252180.0    31.0  Female

# Deaths by Year Data

In [29]:
#year_summary = reduced_mortality_df.set_index(["Year"])
yeardata = reduced_mortality[["Year", "State","Population", "Deaths"]]
deathperyear = yeardata.groupby("Year")["Deaths"].sum()
year_summary_df = pd.DataFrame({"Total Opioid Death by Year": deathperyear})
year_summary_df
#visualization: bar chart? Line ?

      Total Opioid Death by Year
Year
2009                     19000.0
2010                     20269.0
2011                     22869.0
2012                     20603.0
2013                     24346.0
2014                     27728.0
2015                     31951.0
2016                     40476.0

# Death by State, Year

In [20]:
state_yearsummary = reduced_mortality[["Year", "State", "Population", "Deaths"]]
deathsbystateyear =state_yearsummary.groupby(["State", "Year"])["Deaths"].sum()
deathsbystateyear.unstack()
#visualization  = tableau (V)

Year,2009,2010,2011,2012,2013,2014,2015,2016
State,,,,,,,,
Alabama,181.0,128.0,192.0,198.0,202.0,315.0,296.0,299.0
Alaska,12.0,12.0,23.0,40.0,28.0,10.0,11.0,12.0
Arizona,486.0,537.0,553.0,516.0,623.0,716.0,734.0,824.0
Arkansas,176.0,165.0,157.0,189.0,179.0,232.0,241.0,251.0
California,2108.0,1921.0,2149.0,1945.0,2202.0,2180.0,2300.0,2404.0
Colorado,254.0,272.0,278.0,297.0,301.0,435.0,479.0,544.0
Connecticut,148.0,161.0,166.0,184.0,334.0,385.0,651.0,892.0
Delaware,55.0,77.0,113.0,70.0,88.0,132.0,136.0,205.0
District of Columbia,35.0,75.0,77.0,46.0,89.0,76.0,96.0,216.0
Florida,2267.0,2372.0,2150.0,1431.0,1897.0,2071.0,2614.0,3914.0
Georgia,430.0,477.0,544.0,568.0,542.0,680.0,860.0,936.0
Hawaii,27.0,NaN,50.0,12.0,25.0,53.0,85.0,91.0
Idaho,NaN,41.0,26.0,28.0,78.0,33.0,56.0,99.0
Illinois,327.0,367.0,429.0,391.0,535.0,670.0,853.0,1181.0
Indiana,224.0,214.0,318.0,290.0,321.0,395.0,435.0,511.0
Iowa,98.0,103.0,122.0,123.0,162.0,135.0,142.0,146.0
Kansas,89.0,56.0,87.0,98.0,121.0,143.0,146.0,165.0
Kentucky,426.0,601.0,700.0,678.0,592.0,627.0,725.0,861.0
Louisiana,220.0,190.0,162.0,193.0,234.0,345.0,439.0,525.0
Maine,78.0,38.0,73.0,74.0,132.0,187.0,264.0,339.0
Maryland,249.0,263.0,342.0,351.0,429.0,542.0,560.0,1087.0
Massachusetts,754.0,692.0,910.0,852.0,1008.0,1234.0,1745.0,2319.0
Michigan,1038.0,1053.0,1099.0,1026.0,1128.0,1348.0,1256.0,1666.0
Minnesota,201.0,222.0,283.0,236.0,264.0,286.0,348.0,401.0
Mississippi,78.0,96.0,76.0,80.0,48.0,92.0,140.0,133.0
Missouri,408.0,511.0,602.0,512.0,560.0,687.0,678.0,948.0
Montana,42.0,NaN,NaN,NaN,12.0,NaN,23.0,11.0
Nebraska,11.0,11.0,NaN,11.0,24.0,NaN,11.0,10.0
Nevada,345.0,374.0,385.0,335.0,312.0,306.0,352.0,331.0
New Hampshire,82.0,91.0,155.0,114.0,157.0,302.0,391.0,459.0
New Jersey,125.0,489.0,629.0,644.0,860.0,848.0,955.0,1558.0
New Mexico,133.0,122.0,147.0,197.0,232.0,240.0,184.0,188.0
New York,1589.0,1568.0,1911.0,1566.0,2150.0,2175.0,2538.0,3201.0
North Carolina,597.0,588.0,662.0,580.0,644.0,900.0,1126.0,1526.0
North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
Ohio,644.0,1058.0,1281.0,1061.0,1260.0,1565.0,2010.0,2523.0
Oklahoma,356.0,341.0,382.0,396.0,423.0,426.0,345.0,359.0
Oregon,318.0,286.0,390.0,371.0,319.0,379.0,432.0,411.0
Pennsylvania,659.0,663.0,829.0,799.0,849.0,1039.0,1279.0,1746.0
Rhode Island,83.0,105.0,147.0,112.0,109.0,155.0,123.0,177.0
South Carolina,184.0,226.0,213.0,225.0,274.0,431.0,495.0,560.0
Tennessee,522.0,534.0,579.0,636.0,754.0,838.0,1022.0,1184.0
Texas,1275.0,1284.0,1186.0,993.0,1311.0,1401.0,1459.0,1622.0
Utah,305.0,283.0,332.0,368.0,406.0,402.0,418.0,437.0
Vermont,20.0,20.0,13.0,NaN,59.0,43.0,66.0,102.0
Virginia,417.0,313.0,467.0,366.0,598.0,656.0,699.0,1002.0
Washington,567.0,540.0,564.0,548.0,543.0,595.0,664.0,696.0
West Virginia,147.0,442.0,561.0,506.0,496.0,565.0,603.0,733.0
Wisconsin,210.0,276.0,345.0,347.0,432.0,453.0,466.0,661.0
Wyoming,NaN,11.0,10.0,NaN,NaN,NaN,NaN,NaN

# GroupBy Age

In [21]:
age_summary = reduced_mortality[["Year", "State", "Deaths", "Ten-Year Age Groups"]]
agebyyear = age_summary.groupby(["Ten-Year Age Groups","Year"])["Deaths"].sum()
agebyyear.unstack()
#visualization = clustered bar? / multi line

Year,2009,2010,2011,2012,2013,2014,2015,2016
Ten-Year Age Groups,,,,,,,,
15-24 years,1473.0,1567.0,1769.0,1350.0,1665.0,1866.0,2112.0,2776.0
25-34 years,3382.0,3840.0,4469.0,3847.0,4644.0,5628.0,7000.0,9301.0
35-44 years,4406.0,4445.0,4995.0,4480.0,5032.0,5857.0,6912.0,8893.0
45-54 years,6567.0,6702.0,7303.0,6532.0,7379.0,7736.0,8282.0,9889.0
55-64 years,2890.0,3353.0,3848.0,3900.0,4901.0,5645.0,6314.0,7937.0
65-74 years,245.0,315.0,432.0,464.0,648.0,929.0,1194.0,1532.0
75-84 years,37.0,36.0,53.0,30.0,64.0,45.0,98.0,118.0
85+ years,NaN,11.0,NaN,NaN,13.0,22.0,39.0,30.0

# GroupBy Gender

In [22]:
gender_summary = reduced_mortality[["Year", "State", "Deaths", "Gender"]]
genderbyyear = gender_summary.groupby(["Gender", "Year"])["Deaths"].sum()
genderbyyear.unstack()

Year       2009     2010     2011     2012     2013     2014     2015     2016
Gender
Female   6338.0   6957.0   7887.0   7488.0   8699.0   9977.0  11056.0  13230.0
Male    12662.0  13312.0  14982.0  13115.0  15647.0  17751.0  20895.0  27246.0

In [36]:
by_race_df = reduced_mortality.groupby(["Race"])["Deaths"].sum()
by_race_df.head()
#inpercent by bar?

Race
American Indian or Alaska Native        75.0
Asian or Pacific Islander              320.0
Black or African American            17894.0
White                               188953.0
Name: Deaths, dtype: float64